body{
    background-color: black;
}
.containerArt {
    color:white;
    padding: 80px;
   }
   .btn {
    font-size: 30px;
    }
    .containerRenaissance{
        color:white;
    padding: 80px;
    }
    .containerBaroque{
        color:white;
        padding: 80px;
     }
     .content{
        color: white;
       
    
        
        
     }
     h2{
        font-size: 20px;
     }
     .hello{
        font-size: 70px;
        position: relative;
        top: 100px;
        font-family: 'Abyssinica SIL', serif;
     }
     .name{
        font-size: 30px;
        position: relative;
        top: 110px;
        font-family: 'Abyssinica SIL', serif;
     }
     .developer{
        font-size: 30px;
        position: relative;
        top: 120px;
        font-family: 'Abyssinica SIL', serif;
     }
     .btn-outline-light{
        position: relative;
        top: 200px;
        left: 150px;
        font-family: 'Abyssinica SIL', serif;
     }
     .text-center{
        position: relative;
        top:120px;
        font-family: 'Abyssinica SIL', serif;

     }
     .img-fluid{
        position: relative;
        top: 100px;
     }
     